body {
    font: normal 18px/1.8em "Inter", "Source Sans Pro",
    "Helvetica Neue", Arial, sans-serif;
    color: #292929;
}

#container {
    width: 75vw;
    max-width: 800px;
    margin: auto;
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
}

.graph {
    max-width: 100%;
    padding-top: 1em;
    padding-bottom: 1em;
}