/* General styling */
body {
    font: normal 18px/1.8em "Inter", "Source Sans Pro",
    "Helvetica Neue", Arial, sans-serif;
    color: #292929;
}

#container {
    width: 75vw;
    max-width: 800px;
    margin: auto;
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
}

.graph {
    max-width: 100%;
    padding-top: 1em;
    padding-bottom: 1em;
}

.sup-text {
    font-size: 0.6em
}

/* Big number styling */
.big-number-container {
    /* border: 1px solid red; */
    align-items: center;
    width: 100%;
    padding: 0px;
}

.big-number-inner-left {
    /* border: 1px solid red; */
    width: 50%;
    float: left;
    align-items: center;
}

.big-number-inner-right {
    /* border: 1px solid red; */
    width: 50%;
    float: right;
    padding: 0px;
    justify-content: center;
    align-items: center;
}

.big-number-inner-upper {

}

.big-number-inner-lower {

}

.big-number-header {
    text-align: center;
}

.big-number {
    text-align: center;
    font-size: 500%;
}

img#palace {
    max-width: 760px;
}